
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #bdbdbd;
    background-color: #2f3e4d;

  }
  body {
    background-color: #2f3e4d !important;
  }

  .vuecal__cell:before {
    border: none;
  }