
// // 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "../../node_modules/bootstrap/scss/functions.scss";

// // 2. Include any default variable overrides here

// // 3. Include remainder of required Bootstrap stylesheets
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/root";

// // 4. Include any optional Bootstrap CSS as needed
// @import "../../node_modules/bootstrap/scss/utilities";
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/containers";
// @import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/helpers";

// // 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "../../node_modules/bootstrap/scss/utilities/api";

// // 6. Add additional custom code here

@import "./custom.scss";
@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");
// @import '~bootstrap-icons/font/bootstrap-icons';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");